.App {
  height: 100vh;
  text-align: center;
}

.App-header {
  /* control height with media or maybe fixed ? */
  height: 64px; 
  background-color: blue;
}

.App-body {
  height: calc(100vh - 64px);
  background-color: white;
}
